<a href="https://colab.research.google.com/github/steveding1/DA-learning/blob/master/leetcode_to_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
str1 = """
+-----------+-----------+------------+--------------+
| player_id | device_id | event_date | games_played |
+-----------+-----------+------------+--------------+
| 1         | 2         | 2016-03-01 | 5            |
| 1         | 2         | 2016-05-02 | 6            |
| 1         | 4         | 2016-05-02 | 2            |
| 2         | 3         | 2017-06-25 | 1            |
| 2         | 3         | 2017-06-25 | 2            |
| 3         | 1         | 2016-03-02 | 0            |
| 3         | 4         | 2018-07-03 | 5            |
+-----------+-----------+------------+--------------+
"""

In [47]:
outlist=[]
for l in str1.split("\n"):
  if l.startswith('|'):
    outlist.append(l.replace(" ","").split('|')[1:-1])
outlist

[['player_id', 'device_id', 'event_date', 'games_played'],
 ['1', '2', '2016-03-01', '5'],
 ['1', '2', '2016-05-02', '6'],
 ['1', '4', '2016-05-02', '2'],
 ['2', '3', '2017-06-25', '1'],
 ['2', '3', '2017-06-25', '2'],
 ['3', '1', '2016-03-02', '0'],
 ['3', '4', '2018-07-03', '5']]

In [48]:
import pandas as pd
df = pd.DataFrame(outlist[1:],columns=outlist[0])
df.to_csv('output.csv',index=None)

In [49]:
df = pd.read_csv('output.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   player_id     7 non-null      int64
 1   device_id     7 non-null      int64
 2   event_date    7 non-null      object
 3   games_played  7 non-null      int64
dtypes: int64(3), object(1)
memory usage: 352.0+ bytes

In [50]:
df

   player_id  device_id  event_date  games_played
0          1          2  2016-03-01             5
1          1          2  2016-05-02             6
2          1          4  2016-05-02             2
3          2          3  2017-06-25             1
4          2          3  2017-06-25             2
5          3          1  2016-03-02             0
6          3          4  2018-07-03             5