<a href="https://colab.research.google.com/github/steveding1/DA-learning/blob/master/sqlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [15]:
engine = create_engine("sqlite:///mysqlt.db")
Base.metadata.create_all(engine)

In [20]:
df = pd.read_csv("/content/sample_data/california_housing_test.csv")
df.to_sql(con=engine, index_label='id', name='table1', if_exists='replace')

In [28]:
engine.execute('select * from table1 limit 2').fetchall()

[(0, -122.05, 37.37, 27.0, 3885.0, 661.0, 1537.0, 606.0, 6.6085, 344700.0),
 (1, -118.3, 34.26, 43.0, 1510.0, 310.0, 809.0, 277.0, 3.599, 176500.0)]

In [29]:
pd.read_sql('select * from table1 limit 2',engine)

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0

In [30]:
!ls

mysqlt.db  sample_data