<a href="https://colab.research.google.com/github/steveding1/DA-learning/blob/master/sqlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [ ]:
engine = create_engine("sqlite:///mysqlt.db")
Base.metadata.create_all(engine)

In [ ]:
df = pd.read_csv("/content/sample_data/california_housing_test.csv")
df.to_sql(con=engine, index_label='id', name='table1', if_exists='replace')

In [ ]:
engine.execute('select * from table1 limit 2').fetchall()

[(0, -122.05, 37.37, 27.0, 3885.0, 661.0, 1537.0, 606.0, 6.6085, 344700.0),
 (1, -118.3, 34.26, 43.0, 1510.0, 310.0, 809.0, 277.0, 3.599, 176500.0)]

In [ ]:
pd.read_sql('select * from table1 limit 2',engine)

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0

In [ ]:
!ls

mysqlt.db  sample_data

In [32]:
engine = create_engine('sqlite://')
Base = declarative_base()

In [34]:
from sqlalchemy import Column, Integer, String, Index

class User(Base):
    
    __tablename__ = 'user'
    __table_args__ = (
        Index('ix_user_user_id', 'user_id'),
    )

    id = Column(Integer, primary_key=True, autoincrement=True)
    user_id = Column(String(255), nullable=False)
    name = Column(String(64), nullable=False, unique=True)
    email = Column(String(255))

In [35]:
Base.metadata.create_all(engine)

In [40]:
pd.read_sql('select * from user limit 2',engine)

   id user_id      name                 email
0   1    1234  new_user  new_user@example.com

In [45]:
from sqlalchemy.orm import sessionmaker

DBSession = sessionmaker(bind=engine)
session = DBSession()
new_user = User(user_id='12345', name='new_user5', email='new_user@example.com')
session.add(new_user)
session.commit()

In [41]:
new_user = session.query(User).filter(User.name=='new_user').one()
session.delete(new_user)
session.commit()

In [50]:
session.query(User).filter(User.name=='new_user5').one()

In [52]:
for name,email in session.query(User.name,User.email):
  print(name,email)

new_user new_user@example.com
new_user5 new_user@example.com

In [53]:
for row in session.query(User, User.name).all():
  print(row.User, row.name)

<__main__.User object at 0x7f6c4eda1bd0> new_user
<__main__.User object at 0x7f6c4eeb8c10> new_user5

TypeError: ignored